/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *** varibles *** */
:root {
  --default-color-white: #ffffff;
  --bg-box-blu: #b5ddff;
  --bg-box-white: #ffffff;
  --bg-box-purple: #9792e4;
  --default-box-width: calc((100% - 50px) / 3);
}
/* **common** */

/* .container-max{
  width: 992px;
} 
da implentare*/

/* posizioniono gli lementi in modo affiancato */
.row {
  display: flex;
}

/* faccio andare a capo gli elemnti flex e li spazio di 30px */
.container {
  flex-wrap: wrap;
  gap: 30px;
}

/* caratteristiche classi colore */
.color-blu {
  background-color: var(--bg-box-blu);
}
.color-white {
  background-color: var(--bg-box-white);
}
.color-purple {
  background-color: var(--bg-box-purple);
}
/* /caratteristiche classi colore */

/* allineo il testo centralmente */
.txt-center {
  text-align: center;
}

/* **common** */

/****** header ******/

/* caratteristiche navbar */
.navbar {
  background-color: #0084fd;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

/* caratteristiche hamburger */
.navbar .hamburger {
  color: var(--default-color-white);
  font-size: 30px;
}

/****** /header ******/

/* **** main **** */

/* * debug* */
/* altezza di debug box */
.debug .box {
  height: 360px;
}
/* * /debug* */

/* box contenitore standard */
.box {
  width: 100%;
  padding: 30px 25px;
}

/* *box in alto di presentazione* */

/* caratteriistiche contenitore presentazione */
.container-presentazione {
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px 30px 80px 30px;
}

/* * /box in altro di presentazione* */

/* * box planning* */

/* caratteristiche conteniore planning */
.container-planning {
  background-color: #9792e4;
  padding: 62px 30px;
  gap: 30px;
}

/* * /box planning* */

/* * section testimonial* */

/* caratteristiche contenitore testimonial */
.container-testimonial {
  padding: 70px 30px 112px 30px;
}

/* * /section testimonial* */

/* * section benefits */

/* caratteristiche contenitore benefits */
.container-benefits {
  background-color: var(--bg-box-purple);
  padding: 70px 30px;
}

/* * /section benefits */

/* * section about us */

/* caratteriistiche contenitore about us */
.container-aboutus {
  padding: 90px 30px 80px 30px;
}

/* * /section about us */

/* *get started */
/* caratteristiiche container get started */
.container-getstarted {
  padding: 60px 35px;
}
/* * /get started */

/* **** /main **** */

/* ** media header ** */

@media screen and (min-width: 992px) {
  /* da 992px in poi hammburge scompare e appare la barra con tutti i link */
  .navbar .hamburger {
    display: none;
  }
  .navbar .links-button {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  /* da 0 a 992px la barra con i link non è visibile */
  .navbar .links-button {
    display: none;
  }
}

/* ** /media header ** */

/* ** media main ** */

@media screen and (min-width: 768px) {
  /* *presentazione */

  /* dopo 768px il box ha la largezza di 1/3 dell pagina */
  .container-presentazione .box {
    width: var(--default-box-width);
  }

  /* il box1 è più grande degli altri quindi gli do 22 la largezza e aggiunto il gap assobito nel calcolo precedente */
  .container-presentazione .box1 {
    width: calc((var(--default-box-width) * 2 + 25px));
  }
  /* * /presentazione */

  /* * section testionials */

  /* dopo i 768px gli elementi in testimonial che sono color purple diiventa di tipo flex */
  .container-testimonial .color-purple {
    display: flex;
  }

  /* * section testionials */

  /* * section benefits */

  /* da 768px i box in benefits sono larghi la meta della pagina */
  .container-benefits .box {
    width: calc((100% - 30px) / 2);
  }
  /* * /section benefits */

  /* *section about us */

  /* dopo 768px gli elementi in about us sono di tipo flex */
  .container-aboutus {
    display: flex;
  }
  /* * /section about us */

  /* * get started */

  /* caratteriistiche contenitore get started dopo i 768px */
  .container-getstarted {
    padding: 60px 120px;
    /* * /get started */
  }
}

@media screen and (min-width: 992px) {
  /* * presentazione */

  /* da 992px gli eletni in box1 diventano flex */
  .container-presentazione .box1 {
    display: flex;
  }
  /* * /presentazione */

  /* * section benefits */

  /* da 992px i conteniore box si prendono sempre 1/3 dello spazio ma hano un gap maggiore */
  .container-benefits .box {
    width: calc((100% - 60px) / 3);
  }
  /* * /section benefits */

  /* * planning */
  /* caratteristiche conteniore dopo i 992px */
  .container-planning {
    padding: 130px 130px 60px 130px;
  }
  /* * /planning */

  /* * about us */
  /* caratteristiche conteniore dopo i 992px */
  .container-getstarted {
    padding: 60px 285px;
    /* * /about us */
  }
}

@media screen and (max-width: 992px) {
  /* *planning */
  /* fino a 992px container-planning fa andare a capo gli elementi che occupano più del loro spazio */
  .container-planning {
    flex-wrap: wrap;
  }
  /* * /planning */
}

/* ** /media main ** */
