/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *** varibles *** */
:root {
  --default-color-white: #ffffff;
  --bg-box-blu: #b5ddff;
  --bg-box-white: #ffffff;
  --bg-box-purple: #9792e4;
  --default-box-width: calc((100% - 50px) / 3);
}
/* **common** */

.row {
  display: flex;
}

.container {
  flex-wrap: wrap;
  gap: 30px;
}

/* **common** */

/****** header ******/

.navbar {
  background-color: #0084fd;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.navbar .hamburger {
  color: var(--default-color-white);
  font-size: 30px;
}

/****** /header ******/

/* **** main **** */

/* * debug* */
.debug .box {
  height: 360px;
}
/* * /debug* */

.box {
  width: 100%;
  padding: 30px 25px;
}

/* *box in alto di presentazione* */
.container-presentazione {
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px 30px 80px 30px;
}

/* colore dei box in alto */
.color-blu {
  background-color: var(--bg-box-blu);
}
/* * /box in altro di presentazione* */

/* * box planning* */

.container-planning {
  background-color: #9792e4;
  padding: 62px 30px;
  gap: 30px;
}

.color-white {
  background-color: var(--bg-box-white);
}

/* * /box planning* */

/* * section testimonial* */

.container-testimonial {
  padding: 70px 30px 112px 30px;
}

.color-purple {
  background-color: var(--bg-box-purple);
}

/* * /section testimonial* */

/* * section benefits */

.container-benefits {
  background-color: var(--bg-box-purple);
  padding: 70px 30px;
}

.titolo-benefits {
  text-align: center;
}

/* * /section benefits */

/* **** /main **** */

/* ** media header ** */

@media screen and (min-width: 768px) {
  .navbar .hamburger {
    display: none;
  }
  .navbar .links-button {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .navbar .links-button {
    display: none;
  }
}

/* ** /media header ** */

/* ** media main ** */
/* *presentazione */
@media screen and (min-width: 576px) {
  .container-presentazione .box {
    width: var(--default-box-width);
  }

  .container-presentazione .box1 {
    width: calc((var(--default-box-width) * 2 + 25px));
  }

  /* * section benefits */
  .container-benefits .box {
    width: calc((100% - 30px) / 2);
  }
  /* * /section benefits */
}

@media screen and (min-width: 768px) {
  .container-presentazione .box1 {
    display: flex;
  }

  /* * section benefits */
  .container-benefits .box {
    width: calc((100% - 60px) / 3);
  }
  /* * /section benefits */
}
/* * /presentazione */

/* *planning */
@media screen and (max-width: 768px) {
  .container-planning {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .container-planning {
    padding: 130px 130px 60px 130px;
  }
}
/* * /planning */

/* * section testionials */
@media screen and (min-width: 576px) {
  .container-testimonial .color-purple {
    display: flex;
  }
}
/* * section testionials */

/* * section benefits */

/* * /section benefits */

/* ** /media main ** */
